<h1>Editing campuse</h1>

<% form_for(@campuse) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @campuse %> |
<%= link_to 'Back', campuses_path %>